.homepage-header-container {
    display: flex;
    align-items: center;
}

.homepage-header-name {
    display: inline-block;
}

.homepage-header-button {
    display: block;
    margin-left: auto;
    margin-right: 10px;
}