.tools {
    /* display: block; */
    --background: url('../mountain.jpg') no-repeat center center / cover;

}

.img {
    height: 75px;
     width: 75px; 
     margin-left: auto; 
     margin-right: auto; 
     margin-top: 75px; 
     margin-bottom: 100px;
}

.inputs {
    --color: white;
    --background: transparent;
}
